# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
*.out
*.out.*
*.err
*.err.*

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Coverage / testing
coverage/
*.lcov

# Misc
.tmp/
.cache/
